* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}


body {
  min-height: 100vh;
  background: linear-gradient( 135deg, #0f2027, #203a43, #2c5364, #1a2a6c);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== App Container (Bigger) ===== */
.app {
  width: 100%;
  max-width: 500px;   /* increased */
  padding: 25px;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

.logo {
  font-size: 32px;    /* bigger logo */
  font-weight: bold;
  color: #ffffff;
}

.search-box {
  display: flex;
  width: 100%;
}

.search-box input {
  flex: 1;
  padding: 12px;
  border-radius: 10px 0 0 10px;
  border: none;
  outline: none;
}

.search-box button {
  padding: 12px 18px;
  border: none;
  background: #4a6cf7;
  color: #fff;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}


.weather-container {
  margin-top: 30px;
}

.weather-card {
  background: rgba(255, 255, 255, 0.15); /* glass effect */
  backdrop-filter: blur(12px);
  border-radius: 22px;
  padding: 30px; /* increased padding */
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  color: #ffffff;
}

.city {
  font-size: 26px;
}

.date {
  font-size: 14px;
  color: #e0e0e0;
  margin-bottom: 18px;
}


.temp1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

img {
  width: 90px;        
  height: 90px;
  border-radius: 50%;
}

.temp {
  font-size: 56px;    
  font-weight: bold;
}

.description {
  font-size: 20px;
  margin: 15px 0;
  color: #f1f1f1;
}

/* Details */
.details {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.details div {
  text-align: center;
}

.details span {
  font-size: 13px;
  color: #dcdcdc;
}

.details p {
  font-size: 18px;
  font-weight: bold;
}

/* Footer */
.footer {
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
}


.weather-card{
  display: none;
}

.error{
  text-align: left;
  margin-left: 10px;
  font-size: 30px;
  margin-top: 10px;
  font-weight: 900;
  color: red;
  display: none;
}